Repository dart-code-checker/dart-code-metrics, pull requests merged in 2021-09, with the labels that each got.

#440 feat: add support for global rules-exclude
  CHANGELOG.md
  example/example.dart
  lib/src/analyzers/lint_analyzer/lint_analysis_config.dart
  lib/src/analyzers/lint_analyzer/lint_analyzer.dart
  lib/src/analyzers/lint_analyzer/lint_config.dart
  lib/src/config_builder/config_builder.dart
  test/analyzers/lint_analyzer/lint_analyzer_test.dart
  test/analyzers/lint_analyzer/lint_config_test.dart
Labels: type: enhancement, area-rules

#434 feat: introduce Halsted Volume metric
  .vscode/settings.json
  CHANGELOG.md
  README.md
  lib/src/analyzers/lint_analyzer/lint_analyzer.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_factory.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/cyclomatic_complexity/cyclomatic_complexity_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/halstead_volume/halstead_volume_ast_visitor.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/halstead_volume/halstead_volume_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/lines_of_code_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/maximum_nesting_level/maximum_nesting_level_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/number_of_methods_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/number_of_parameters_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/source_lines_of_code/source_lines_of_code_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/weight_of_class_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/models/metric_documentation.dart
  lib/src/analyzers/lint_analyzer/reporters/utility_selector.dart
  test/analyzers/lint_analyzer/lint_analyzer_test.dart
  test/analyzers/lint_analyzer/metrics/metrics_list/halstead_volume/halstead_volume_ast_visitor_test.dart
  test/analyzers/lint_analyzer/metrics/metrics_list/halstead_volume/halstead_volume_metric_test.dart
  test/analyzers/lint_analyzer/reporters/reporters_list/report_example.dart
  test/analyzers/lint_analyzer/reporters/utility_selector_test.dart
  test/cli/commands/analyze_test.dart
  test/resources/halstead_volume_metric_example.dart
  test/stubs_builders.dart
Labels: type: enhancement, area-metrics

#446 feat: pattern severity
  CHANGELOG.md
  lib/src/analyzer_plugin/analyzer_plugin.dart
  lib/src/analyzer_plugin/analyzer_plugin_utils.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_method.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_parameter_list.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/models/obsolete_pattern.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/models/pattern.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/pattern_utils.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/patterns_factory.dart
  lib/src/analyzers/lint_analyzer/lint_utils.dart
  lib/src/analyzers/lint_analyzer/rules/rule_utils.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/always_remove_listener/always_remove_listener.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_ignoring_return_values/avoid_ignoring_return_values.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_late_keyword/avoid_late_keyword.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_non_null_assertion/avoid_non_null_assertion.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_preserve_whitespace_false/avoid_preserve_whitespace_false.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_returning_widgets/avoid_returning_widgets.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_setstate/avoid_unnecessary_setstate.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unused_parameters/avoid_unused_parameters.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_wrapping_in_padding/avoid_wrapping_in_padding.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/binary_expression_operand_order/binary_expression_operand_order.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/component_annotation_arguments_ordering/component_annotation_arguments_ordering.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/double_literal_format/double_literal_format.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/member_ordering.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering_extended/member_ordering_extended.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/newline_before_return/newline_before_return.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_boolean_literal_compare/no_boolean_literal_compare.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_empty_block/no_empty_block.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_equal_arguments/no_equal_arguments.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_equal_then_else/no_equal_then_else.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_magic_number/no_magic_number.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_object_declaration/no_object_declaration.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_conditional_expressions/prefer_conditional_expressions.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_extracting_callbacks/prefer_extracting_callbacks.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_intl_name/prefer_intl_name.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_match_file_name/prefer_match_file_name.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_on_push_cd_strategy/prefer_on_push_cd_strategy.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_single_widget_per_file/prefer_single_widget_per_file.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_trailing_comma/prefer_trailing_comma.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/provide_correct_intl_args/provide_correct_intl_args.dart
  test/analyzer_plugin/analyzer_plugin_utils_test.dart
  test/analyzers/lint_analyzer/anti_patterns/pattern_utils_test.dart
  test/analyzers/lint_analyzer/lint_utils_test.dart
  test/analyzers/lint_analyzer/rules/rule_utils_test.dart
Labels: type: enhancement, area-anti-patterns

#447 feat: introduce `--fatal-xxxx` cli arguments
  CHANGELOG.md
  README.md
  lib/lint_analyzer.dart
  lib/src/analyzers/lint_analyzer/reporters/utility_selector.dart
  lib/src/analyzers/lint_analyzer/utils/report_utils.dart
  lib/src/cli/commands/analyze.dart
  lib/src/cli/models/flag_names.dart
  lib/src/cli/models/parsed_arguments.dart
  test/analyzer_plugin/analyzer_plugin_utils_test.dart
  test/analyzers/lint_analyzer/reporters/utility_selector_test.dart
  test/analyzers/lint_analyzer/utils/report_utils_test.dart
  test/cli/commands/analyze_test.dart
Labels: type: enhancement

#462 ci: add changelog update check action
  .github/workflows/lint_pr_title.yaml
Labels: type: enhancement, area-infrastructure

#461 feat: add pragma vm:entry-point as entry point for unused files check
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unused_parameters/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_equal_arguments/visitor.dart
  lib/src/analyzers/unused_files_analyzer/unused_files_visitor.dart
  test/resources/unused_files_analyzer/annotation_file.dart
  test/resources/unused_files_analyzer/unused_file.dart
Labels: type: enhancement, area-unused-files

#460 refactor: anti-pattern dependencies
  .github/workflows/lint_pr_title.yaml
  lib/src/analyzer_plugin/analyzer_plugin.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_method.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_parameter_list.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/models/obsolete_pattern.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/models/pattern.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/patterns_factory.dart
  lib/src/analyzers/lint_analyzer/lint_analyzer.dart
  lib/src/config_builder/config_builder.dart
  test/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_method/long_method_test.dart
  test/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_parameter_list/long_parameter_list_test.dart
  test/analyzers/lint_analyzer/anti_patterns/patterns_factory_test.dart
Labels: area-anti-patterns

#465 feat: don't trigger prefer-extracting-callbacks on empty function blocks
  CHANGELOG.md
  doc/rules/prefer-extracting-callbacks.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_extracting_callbacks/visitor.dart
  test/analyzers/lint_analyzer/rules/rules_list/prefer_extracting_callbacks/examples/example.dart
Labels: type: enhancement, area-rules

#464 refactor: anti patterns migrate on metrics
  analysis_options.yaml
  lib/src/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_method.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_parameter_list.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/models/obsolete_pattern.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/models/pattern.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/patterns_factory.dart
  lib/src/analyzers/lint_analyzer/lint_analysis_config.dart
  lib/src/analyzers/lint_analyzer/lint_analyzer.dart
  lib/src/analyzers/lint_analyzer/metrics/metric_utils.dart
  test/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_method/long_method_test.dart
  test/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_parameter_list/long_parameter_list_test.dart
  test/analyzers/lint_analyzer/metrics/metric_utils_test.dart
Labels: area-metrics, area-anti-patterns

#473 fix: unhandled exception while parsing `analysis_options.yaml`
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  lib/src/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_method.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_parameter_list.dart
  lib/src/utils/yaml_utils.dart
  pubspec.yaml
  test/resources/analysis_options_repo.yaml
  tools/analyzer_plugin/pubspec.yaml
Labels: area-core

#469 feat: ignore Flutter builder functions in "prefer-extracting-callbacks" rule
  CHANGELOG.md
  doc/rules/prefer-extracting-callbacks.md
  lib/src/analyzers/lint_analyzer/rules/flutter_rule_utils.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_extracting_callbacks/visitor.dart
  test/analyzers/lint_analyzer/rules/rules_list/prefer_extracting_callbacks/examples/example.dart
Labels: area-rules
