Repository dart-code-checker/dart-code-metrics, pull requests merged in 2021-10, with the labels that each got.

#486 fix: compute NumberOfParametersMetric only for functions and methods
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/metrics/metrics_factory.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/number_of_parameters_metric.dart
  lib/src/config_builder/config_builder.dart
  test/analyzers/lint_analyzer/lint_analyzer_test.dart
  test/analyzers/lint_analyzer/metrics/metrics_list/number_of_parameters_metric_test.dart
  test/resources/number_of_parameters_metric_example.dart
Labels: type: bug, area-metrics

#487 fix: skip synthetic tokens while compute 'Source lines of Code'
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/metrics/metrics_factory.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/source_lines_of_code/source_code_visitor.dart
  lib/src/config_builder/config_builder.dart
Labels: type: bug, area-metrics

#488 fix: update 'Maintainability Index' metric comment message
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/maintainability_index_metric.dart
  test/analyzers/lint_analyzer/metrics/metrics_list/maintainability_index_metric_test.dart
Labels: type: bug, area-metrics

#489 fix: ‘Number of Parameters’ skip copyWith methods.
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/number_of_parameters_metric.dart
  test/analyzers/lint_analyzer/metrics/metrics_list/number_of_parameters_metric_test.dart
  test/resources/number_of_parameters_metric_example.dart
Labels: type: enhancement, area-metrics

#482 feat: update const border radius rule
  doc/rules/prefer-const-border-radius.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_const_border_radius/prefer_const_border_radius.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_const_border_radius/visitor.dart
  test/analyzers/lint_analyzer/rules/rules_list/prefer_const_border_radius/examples/example.dart
  test/analyzers/lint_analyzer/rules/rules_list/prefer_const_border_radius/prefer_const_border_radius_test.dart
Labels: type: enhancement

#534 docs: update README, remove `doc` folder
  README.md
  assets/.gitattributes
  assets/analyze-console-report.png
  assets/logo.svg
  assets/plugin-example.png
  assets/quick-fix.gif
  assets/unused-files-console-report.png
  assets/unused-l10n-console-report.png
  doc/.assets/github-reporter-sample.gif
  doc/anti-patterns/long-method.md
  doc/anti-patterns/long-parameter-list.md
  doc/metrics/cyclomatic-complexity.md
  doc/metrics/lines-of-code.md
  doc/metrics/maximum-nesting-level.md
  doc/metrics/number-of-methods.md
  doc/metrics/number-of-parameters.md
  doc/metrics/source-lines-of-code.md
  doc/metrics/weight-of-class.md
  doc/reporters/github-reporter.md
  doc/reporters/json.md
  doc/rules/always-remove-listener.md
  doc/rules/avoid-ignoring-return-values.md
  doc/rules/avoid-late-keyword.md
  doc/rules/avoid-non-null-assertion.md
  doc/rules/avoid-preserve-whitespace-false.md
  doc/rules/avoid-returning-widgets.md
  doc/rules/avoid-unnecessary-setstate.md
  doc/rules/avoid-unused-parameters.md
  doc/rules/avoid-wrapping-in-padding.md
  doc/rules/binary-expression-operand-order.md
  doc/rules/component-annotation-arguments-ordering.md
  doc/rules/double-literal-format.md
  doc/rules/member-ordering-extended.md
  doc/rules/member-ordering.md
  doc/rules/newline-before-return.md
  doc/rules/no-boolean-literal-compare.md
  doc/rules/no-empty-block.md
  doc/rules/no-equal-arguments.md
  doc/rules/no-equal-then-else.md
  doc/rules/no-magic-number.md
  doc/rules/no-object-declaration.md
  doc/rules/prefer-conditional-expressions.md
  doc/rules/prefer-const-border-radius.md
  doc/rules/prefer-extracting-callbacks.md
  doc/rules/prefer-intl-name.md
  doc/rules/prefer-match-file-name.md
  doc/rules/prefer-on-push-cd-strategy.md
  doc/rules/prefer-single-widget-per-file.md
  doc/rules/prefer-trailing-comma.md
  doc/rules/provide-correct-intl-args.md
Labels: type: documentation
