Repository dart-code-checker/dart-code-metrics, pull requests merged in 2021-08, with the labels that each got.

#406 feat: introduce new code diagnostics `prefer-single-widget-per-file`
  CHANGELOG.md
  README.md
  doc/rules/prefer-single-widget-per-file.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_single_widget_per_file/config_parser.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_single_widget_per_file/prefer_single_widget_per_file.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_single_widget_per_file/visitor.dart
  test/analyzers/lint_analyzer/rules/rules_list/prefer_single_widget_per_file/examples/correct_statefull_widget_example.dart
  test/analyzers/lint_analyzer/rules/rules_list/prefer_single_widget_per_file/examples/correct_stateless_widget_example.dart
  test/analyzers/lint_analyzer/rules/rules_list/prefer_single_widget_per_file/examples/flutter_defines.dart
  test/analyzers/lint_analyzer/rules/rules_list/prefer_single_widget_per_file/examples/incorrect_example.dart
  test/analyzers/lint_analyzer/rules/rules_list/prefer_single_widget_per_file/examples/multi_widgets_example.dart
  test/analyzers/lint_analyzer/rules/rules_list/prefer_single_widget_per_file/prefer_single_widget_per_file_test.dart
Labels: area-rules, type: enhancement

#414 feat: change rules, metrics and anti-patterns doc urls for website urls
  lib/src/analyzers/lint_analyzer/anti_patterns/pattern_utils.dart
  lib/src/analyzers/lint_analyzer/metrics/metric_utils.dart
  lib/src/analyzers/lint_analyzer/rules/models/angular_rule.dart
  lib/src/analyzers/lint_analyzer/rules/models/common_rule.dart
  lib/src/analyzers/lint_analyzer/rules/models/flutter_rule.dart
  lib/src/analyzers/lint_analyzer/rules/models/intl_rule.dart
  lib/src/analyzers/lint_analyzer/rules/models/rule.dart
  lib/src/analyzers/lint_analyzer/rules/models/rule_type.dart
  lib/src/analyzers/lint_analyzer/rules/rule_utils.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/always_remove_listener/always_remove_listener.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_late_keyword/avoid_late_keyword.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_non_null_assertion/avoid_non_null_assertion.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_preserve_whitespace_false/avoid_preserve_whitespace_false.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_returning_widgets/avoid_returning_widgets.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_setstate/avoid_unnecessary_setstate.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unused_parameters/avoid_unused_parameters.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_wrapping_in_padding/avoid_wrapping_in_padding.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/binary_expression_operand_order/binary_expression_operand_order.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/component_annotation_arguments_ordering/component_annotation_arguments_ordering.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/double_literal_format/double_literal_format.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/member_ordering.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering_extended/member_ordering_extended.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/newline_before_return/newline_before_return.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_boolean_literal_compare/no_boolean_literal_compare.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_empty_block/no_empty_block.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_equal_arguments/no_equal_arguments.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_equal_then_else/no_equal_then_else.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_magic_number/no_magic_number.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_object_declaration/no_object_declaration.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_conditional_expressions/prefer_conditional_expressions.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_extracting_callbacks/prefer_extracting_callbacks.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_intl_name/prefer_intl_name.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_on_push_cd_strategy/prefer_on_push_cd_strategy.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_single_widget_per_file/prefer_single_widget_per_file.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_trailing_comma/prefer_trailing_comma.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/provide_correct_intl_args/provide_correct_intl_args.dart
  test/analyzers/lint_analyzer/anti_patterns/pattern_utils_test.dart
  test/analyzers/lint_analyzer/metrics/metric_utils_test.dart
  test/analyzers/lint_analyzer/rules/rule_utils_test.dart
Labels: area-core

#410 Prefer matching widget file name
  README.md
  doc/rules/prefer-match-file-name.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_match_file_name/prefer_match_file_name.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_match_file_name/visitor.dart
  test/analyzers/lint_analyzer/rules/rules_list/prefer_match_file_name/examples/empty_file.dart
  test/analyzers/lint_analyzer/rules/rules_list/prefer_match_file_name/examples/example.dart
  test/analyzers/lint_analyzer/rules/rules_list/prefer_match_file_name/examples/example_with_issue.dart
  test/analyzers/lint_analyzer/rules/rules_list/prefer_match_file_name/examples/example_with_state.dart
  test/analyzers/lint_analyzer/rules/rules_list/prefer_match_file_name/examples/multiple_classes_example.dart
  test/analyzers/lint_analyzer/rules/rules_list/prefer_match_file_name/examples/private_class.dart
  test/analyzers/lint_analyzer/rules/rules_list/prefer_match_file_name/prefer_match_file_name_test.dart
Labels: area-rules, type: enhancement

#415 docs: update readme after website release
  README.md
Labels: type: documentation

#421 feat: make metric threshold optional
  .vscode/settings.json
  lib/src/analyzers/lint_analyzer/lint_analyzer.dart
  lib/src/analyzers/lint_analyzer/metrics/metric_utils.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/cyclomatic_complexity/cyclomatic_complexity_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/lines_of_code_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/maximum_nesting_level/maximum_nesting_level_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/number_of_methods_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/number_of_parameters_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/source_lines_of_code/source_lines_of_code_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/weight_of_class_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/models/class_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/models/function_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/models/metric.dart
  lib/src/analyzers/lint_analyzer/metrics/models/metric_documentation.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/code_climate/lint_code_climate_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/utility_selector.dart
  lib/src/cli/commands/analyze.dart
  test/analyzers/lint_analyzer/metrics/metric_utils_test.dart
  test/analyzers/lint_analyzer/metrics/metrics_factory_test.dart
  test/analyzers/lint_analyzer/metrics/metrics_list/weight_of_class_test.dart
  test/analyzers/lint_analyzer/reporters/reporters_list/html/utility_functions_test.dart
  test/analyzers/lint_analyzer/reporters/reporters_list/lint_code_climate_reporter_test.dart
  test/analyzers/lint_analyzer/reporters/reporters_list/lint_console_reporter_test.dart
  test/analyzers/lint_analyzer/reporters/reporters_list/report_example.dart
  test/analyzers/lint_analyzer/reporters/utility_selector_test.dart
  test/stubs_builders.dart
Labels: area-metrics

#427 refactor: update code climate reporter
  example/example.dart
  lib/src/analyzers/lint_analyzer/lint_analyzer.dart
  lib/src/analyzers/lint_analyzer/reporters/models/class_metrics_report.dart
  lib/src/analyzers/lint_analyzer/reporters/models/file_metrics_report.dart
  lib/src/analyzers/lint_analyzer/reporters/reporter_factory.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/code_climate/code_climate_issue.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/code_climate/lint_code_climate_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/code_climate/models/code_climate_issue.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/code_climate/models/code_climate_issue_category.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/code_climate/models/code_climate_issue_location.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/code_climate/models/code_climate_issue_severity.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/json/lint_json_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/utility_selector.dart
  lib/src/cli/commands/analyze.dart
  test/analyzers/lint_analyzer/reporters/reporter_factory_test.dart
  test/analyzers/lint_analyzer/reporters/reporters_list/html/utility_functions_test.dart
  test/analyzers/lint_analyzer/reporters/reporters_list/lint_code_climate_reporter_test.dart
  test/analyzers/lint_analyzer/reporters/utility_selector_test.dart
  test/stubs_builders.dart
Labels: area-core

#429 chore: update analyzer dependency
  CHANGELOG.md
  lib/src/analyzer_plugin/analyzer_plugin.dart
  lib/src/analyzers/lint_analyzer/lint_analyzer.dart
  lib/src/analyzers/unused_files_analyzer/unused_files_analyzer.dart
  pubspec.yaml
  test/helpers/file_resolver.dart
  tools/analyzer_plugin/pubspec.yaml
Labels: area-core

#428 feat: add byte store to improve performance
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/lint_analyzer.dart
  lib/src/analyzers/unused_files_analyzer/unused_files_analyzer.dart
  lib/src/utils/analyzer_utils.dart
Labels: area-core

#425 feat(rules): add avoid-ignoring-return-values rule
  CHANGELOG.md
  doc/rules/avoid-ignoring-return-values.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_ignoring_return_values/avoid_ignoring_return_values.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_ignoring_return_values/visitor.dart
  test/analyzers/lint_analyzer/rules/rules_list/avoid_ignoring_return_values/avoid_ignoring_return_values_test.dart
  test/analyzers/lint_analyzer/rules/rules_list/avoid_ignoring_return_values/examples/example.dart
Labels: type: enhancement, area-rules

#437 fix: prefer-match-file-name
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_match_file_name/prefer_match_file_name.dart
  test/analyzers/lint_analyzer/rules/rules_list/prefer_match_file_name/examples/some_widget.codegen.dart
  test/analyzers/lint_analyzer/rules/rules_list/prefer_match_file_name/prefer_match_file_name_test.dart
Labels: type: enhancement, area-rules

#439 fix: fix rule and metric excludes for monorepos
  CHANGELOG.md
  lib/src/analyzer_plugin/analyzer_plugin.dart
  lib/src/analyzers/lint_analyzer/lint_analysis_config.dart
  lib/src/analyzers/lint_analyzer/lint_analyzer.dart
  lib/src/config_builder/config_builder.dart
  lib/src/config_builder/models/analysis_options.dart
  test/analyzers/lint_analyzer/lint_config_test.dart
  test/config_builder/models/analysis_options_test.dart
Labels: area-core

#438 fix: avoid-unused-parameters now support abstract methods
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unused_parameters/visitor.dart
  test/analyzers/lint_analyzer/rules/rules_factory_test.dart
  test/analyzers/lint_analyzer/rules/rules_list/avoid_unused_parameters/avoid_unused_parameters_test.dart
  test/analyzers/lint_analyzer/rules/rules_list/avoid_unused_parameters/examples/correct_example.dart
  test/analyzers/lint_analyzer/rules/rules_list/avoid_unused_parameters/examples/incorrect_example.dart
Labels: area-rules
