Repository dart-code-checker/dart-code-metrics, pull requests merged in 2021-11, with the labels that each got.

#547 refactor: cleanup metric documentation
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/lint_analyzer.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/cyclomatic_complexity/cyclomatic_complexity_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/halstead_volume/halstead_volume_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/lines_of_code_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/maintainability_index_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/maximum_nesting_level/maximum_nesting_level_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/number_of_methods_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/number_of_parameters_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/source_lines_of_code/source_lines_of_code_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/weight_of_class_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/models/file_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/models/metric_documentation.dart
  lib/src/analyzers/lint_analyzer/reporters/utility_selector.dart
  test/src/analyzers/lint_analyzer/reporters/reporters_list/report_example.dart
  test/src/analyzers/lint_analyzer/reporters/utility_selector_test.dart
  test/stubs_builders.dart
  website/docs/metrics/overview.md
Labels: type: documentation, area-metrics

#548 refactor: cleanup anti-patterns documentation
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_method.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_parameter_list.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/models/pattern_documentation.dart
  website/docs/anti-patterns/overview.md
  website/docs/metrics/overview.md
Labels: type: documentation, area-anti-patterns

#550 refactor: cleanup rules documentation
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_method.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_parameter_list.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/models/pattern.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/models/pattern_documentation.dart
  lib/src/analyzers/lint_analyzer/rules/models/angular_rule.dart
  lib/src/analyzers/lint_analyzer/rules/models/common_rule.dart
  lib/src/analyzers/lint_analyzer/rules/models/flutter_rule.dart
  lib/src/analyzers/lint_analyzer/rules/models/intl_rule.dart
  lib/src/analyzers/lint_analyzer/rules/models/rule.dart
  lib/src/analyzers/lint_analyzer/rules/models/rule_documentation.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/always_remove_listener/always_remove_listener.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_ignoring_return_values/avoid_ignoring_return_values.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_late_keyword/avoid_late_keyword.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_nested_conditional_expressions/avoid_nested_conditional_expressions.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_non_null_assertion/avoid_non_null_assertion.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_preserve_whitespace_false/avoid_preserve_whitespace_false.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_returning_widgets/avoid_returning_widgets.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_setstate/avoid_unnecessary_setstate.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unused_parameters/avoid_unused_parameters.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_wrapping_in_padding/avoid_wrapping_in_padding.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/binary_expression_operand_order/binary_expression_operand_order.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/component_annotation_arguments_ordering/component_annotation_arguments_ordering.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/double_literal_format/double_literal_format.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/member_ordering.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering_extended/member_ordering_extended.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/newline_before_return/newline_before_return.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_boolean_literal_compare/no_boolean_literal_compare.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_empty_block/no_empty_block.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_equal_arguments/no_equal_arguments.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_equal_then_else/no_equal_then_else.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_magic_number/no_magic_number.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_object_declaration/no_object_declaration.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_conditional_expressions/prefer_conditional_expressions.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_const_border_radius/prefer_const_border_radius.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_correct_identifier_length/prefer_correct_identifier_length.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_correct_type_name/prefer_correct_type_name.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_extracting_callbacks/prefer_extracting_callbacks.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_first/prefer_first.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_intl_name/prefer_intl_name.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_last/prefer_last.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_match_file_name/prefer_match_file_name.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_on_push_cd_strategy/prefer_on_push_cd_strategy.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_single_widget_per_file/prefer_single_widget_per_file.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_trailing_comma/prefer_trailing_comma.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/provide_correct_intl_args/provide_correct_intl_args.dart
  test/src/analyzers/lint_analyzer/rules/rules_factory_test.dart
  website/docs/rules/overview.md
Labels: type: documentation

#549 feat: add static code diagnostics `avoid-unnecessary-type-assertions`
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_type_assertions/avoid_unnecessary_type_assertions.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_type_assertions/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_type_assertions/avoid_unnecessary_type_assertions_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_type_assertions/examples/example_cases.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_type_assertions/examples/example_with_is.dart
  website/docs/rules/common/avoid-unnecessary-type-assertions.md
  website/docs/rules/overview.md
Labels: area-rules

#551 fix: no-magic-number not working in array of widgets
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_magic_number/no_magic_number_rule.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/no_magic_number/examples/array_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/no_magic_number/no_magic_number_rule_test.dart
Labels: type: enhancement, area-rules

#512 feat: add static code diagnostics `avoid-unnecessary-type-casts`
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid-unnecessary-type-casts/avoid_unnecessary_type_casts_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid-unnecessary-type-casts/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_type_casts/avoid_unnecessary_type_casts_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_type_casts/examples/example.dart
  website/docs/rules/common/avoid-unnecessary-type-casts.md
  website/docs/rules/overview.md
Labels: type: enhancement, area-rules

#560 feat: improve avoid unnecessary type assertions
  .vscode/settings.json
  CHANGELOG.md
  analysis_options.yaml
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_type_assertions/avoid_unnecessary_type_assertions_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_type_assertions/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_type_assertions/avoid_unnecessary_type_assertions_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_type_assertions/examples/example_with_is.dart
Labels: type: enhancement, area-rules

#561 feat: implement avoid-throw-in-catch-block
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_throw_in_catch_block/avoid_throw_in_catch_block_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_throw_in_catch_block/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_throw_in_catch_block/avoid_throw_in_catch_block_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_throw_in_catch_block/examples/example.dart
  website/docs/rules/common/avoid-throw-in-catch-block.md
  website/docs/rules/common/avoid-unnecessary-type-assertions.md
  website/docs/rules/common/avoid-unnecessary-type-casts.md
  website/docs/rules/overview.md
Labels: area-rules

#564 feat: add avoid missing enum constant in map rule
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_missing_enum_constant_in_map/avoid_missing_enum_constant_in_map_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_missing_enum_constant_in_map/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_missing_enum_constant_in_map/avoid_missing_enum_constant_in_map_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_missing_enum_constant_in_map/examples/example.dart
  website/docs/rules/common/avoid-missing-enum-constant-in-map.md
  website/docs/rules/overview.md
Labels: type: enhancement, area-rules

#563 feat: improve check unused l10n
  CHANGELOG.md
  lib/src/analyzers/unused_l10n_analyzer/unused_l10n_visitor.dart
  test/resources/unused_l10n_analyzer/test_i18n.dart
  test/resources/unused_l10n_analyzer/unused_l10n_analyzer_example.dart
  test/src/analyzers/unused_l10n_analyzer/unused_l10n_analyzer_test.dart
Labels: type: enhancement, area-unused-l10n

#569 feat: add alphabetical sorting by type
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering_extended/config_parser.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering_extended/member_ordering_extended_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering_extended/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/member_ordering_extended/examples/type_alphabetical_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/member_ordering_extended/member_ordering_extened_rule_test.dart
  website/docs/rules/common/member-ordering-extended.md
Labels: type: enhancement, area-rules

#567 fix: prefer conditional expressions rule
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_conditional_expressions/prefer_conditional_expressions_rule.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_conditional_expressions/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_conditional_expressions/prefer_conditional_expressions_rule_test.dart
Labels: type: enhancement, area-rules

#573 feat: support mixins, extensions and enums for `prefer-match-file-name`
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/node_utils.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid-unnecessary-type-casts/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_type_assertions/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_match_file_name/prefer_match_file_name_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_match_file_name/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_match_file_name/examples/multiple_enums.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_match_file_name/examples/multiple_extensions.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_match_file_name/examples/multiple_mixins.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_match_file_name/prefer_match_file_name_rule_test.dart
  website/docs/rules/common/prefer-match-file-name.md
Labels: type: enhancement, area-rules

#579 fix: improve file metrics
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/lint_analyzer.dart
  lib/src/analyzers/lint_analyzer/metrics/metric_utils.dart
  test/src/analyzers/lint_analyzer/metrics/metric_utils_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_factory_test.dart
Labels: type: enhancement, area-metrics
