Repository dart-code-checker/dart-code-metrics, pull requests merged in 2021-12, with the labels that each got.

#575 feat: add technical-debt metric
  CHANGELOG.md
  analysis_options.yaml
  lib/src/analyzers/lint_analyzer/metrics/metric_utils.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_factory.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/technical_debt/technical_debt_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/technical_debt/visitor.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/html/lint_html_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/html/models/file_metrics_report.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/html/utility_functions.dart
  lib/src/analyzers/lint_analyzer/reporters/utility_selector.dart
  test/resources/technical_debt_metric_example.dart
  test/resources/technical_debt_metric_example2.dart
  test/src/analyzers/lint_analyzer/metrics/metric_utils_test.dart
  test/src/analyzers/lint_analyzer/metrics/metrics_list/technical_debt/technical_debt_metric_test.dart
  test/src/analyzers/lint_analyzer/reporters/reporters_list/html/utility_functions_test.dart
  test/src/cli/commands/analyze_command_test.dart
  website/docs/cli/analyze.md
  website/docs/metrics/cyclomatic-complexity.md
  website/docs/metrics/halstead-volume.md
  website/docs/metrics/lines-of-code.md
  website/docs/metrics/maintainability-index.md
  website/docs/metrics/maximum-nesting-level.md
  website/docs/metrics/number-of-methods.md
  website/docs/metrics/number-of-parameters.md
  website/docs/metrics/overview.md
  website/docs/metrics/source-lines-of-code.md
  website/docs/metrics/technical_debt.md
  website/docs/metrics/weight-of-class.md
Labels: type: enhancement, area-metrics

#584 fix: returns 0 exit code while found unused files or l10n in cli mode
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/lint_analyzer.dart
  lib/src/analyzers/lint_analyzer/utils/report_utils.dart
  lib/src/cli/commands/check_unused_files_command.dart
  lib/src/cli/commands/check_unused_l10n_command.dart
  lib/src/cli/models/flag_names.dart
  test/src/analyzers/lint_analyzer/lint_analyzer_test.dart
  test/src/cli/commands/check_unused_files_command_test.dart
  test/src/cli/commands/check_unused_l10n_command_test.dart
Labels: area-commands

#606 fix: add missing severity
  CHANGELOG.md
  website/docs/rules/common/avoid-throw-in-catch-block.md
  website/docs/rules/common/avoid-unnecessary-type-assertions.md
  website/docs/rules/common/avoid-unnecessary-type-casts.md
  website/docs/rules/common/prefer-correct-identifier-length.md
  website/docs/rules/common/prefer-correct-type-name.md
Labels: type: bug, type: documentation, area-website

#624 feat: add static code diagnostics `avoid-global-state`.
  CHANGELOG.md
  analysis_options.yaml
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_global_state/avoid_global_state_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_global_state/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_global_state/avoid_global_state_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_global_state/examples/example.dart
  website/docs/rules/common/avoid-global-state.md
Labels: type: enhancement, area-rules
