Repository dart-code-checker/dart-code-metrics, pull requests merged in 2022-07, with the labels that each got.

#903 feat: add static code diagnostic `avoid-use-expanded-as-spacer`
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_expanded_as_spacer/avoid_expanded_as_spacer_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_expanded_as_spacer/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_expanded_as_spacer/avoid_expanded_as_spacer_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_expanded_as_spacer/examples/example.dart
  website/docs/rules/flutter/avoid-use-expanded-as-spacer.md
  website/docs/rules/overview.md
Labels: type: enhancement, area-rules

#900 feat: migrate to new analyzer plugins API
  .github/workflows/package_analyze.yaml
  CHANGELOG.md
  lib/src/analyzer_plugin/analyzer_plugin.dart
  lib/src/analyzer_plugin/analyzer_plugin_starter.dart
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_banned_imports/utils/config_parser.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_returning_widgets/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_setstate/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/format_comment/config_parser.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_extracting_callbacks/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_single_widget_per_file/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/provide_correct_intl_args/visitor.dart
  lib/src/analyzers/unnecessary_nullable_analyzer/reporters/reporter_factory.dart
  lib/src/analyzers/unnecessary_nullable_analyzer/unnecessary_nullable_analyzer.dart
  lib/src/analyzers/unused_code_analyzer/reporters/reporter_factory.dart
  lib/src/analyzers/unused_code_analyzer/unused_code_analyzer.dart
  lib/src/analyzers/unused_files_analyzer/reporters/reporter_factory.dart
  lib/src/analyzers/unused_l10n_analyzer/reporters/reporter_factory.dart
  lib/src/analyzers/unused_l10n_analyzer/unused_l10n_analyzer.dart
  pubspec.yaml
  test/src/utils/exclude_utils_test.dart
Labels: type: enhancement, area-plugin

#917 feat: add avoid-duplicate-exports rule
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_banned_imports/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_duplicate_exports/avoid_duplicate_exports_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_duplicate_exports/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_banned_imports/avoid_banned_imports_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_duplicate_exports/avoid_duplicate_exports_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_duplicate_exports/examples/example.dart
  website/docs/rules/common/avoid-duplicate-exports.md
  website/docs/rules/overview.md
Labels: type: enhancement, area-rules

#919 feat: add prefer-enums-by-name rule
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_enums_by_name/prefer_enums_by_name_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_enums_by_name/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_enums_by_name/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_enums_by_name/prefer_enums_by_name_rule_test.dart
  website/docs/rules/common/no-magic-number.md
  website/docs/rules/common/no-object-declaration.md
  website/docs/rules/common/prefer-enums-by-name.md
  website/docs/rules/overview.md
Labels: type: enhancement, area-rules

#920 feat: add avoid-top-level-members-in-tests
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_top_level_members_in_tests/avoid_top_level_members_in_tests_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_top_level_members_in_tests/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_top_level_members_in_tests/avoid_top_level_members_in_tests_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_top_level_members_in_tests/examples/example.dart
  website/docs/rules/common/avoid-top-level-members-in-tests.md
  website/docs/rules/overview.md
Labels: type: enhancement, area-rules

#756 feat: add static code diagnostics `prefer-correct-edge-insets`
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_correct_edge_insets_constructor/models/edge_insets_data.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_correct_edge_insets_constructor/models/edge_insets_param.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_correct_edge_insets_constructor/prefer_correct_edge_insets_constructor_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_correct_edge_insets_constructor/validator.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_correct_edge_insets_constructor/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_correct_edge_insets_constructor/examples/example_direction_only.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_correct_edge_insets_constructor/examples/example_ltrb.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_correct_edge_insets_constructor/examples/example_only.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_correct_edge_insets_constructor/examples/example_steb.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_correct_edge_insets_constructor/examples/example_symmetric.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_correct_edge_insets_constructor/examples/flutter_defines.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_correct_edge_insets_constructor/prefer_correct_edge_insets_constructor_rule_test.dart
  website/docs/rules/flutter/prefer-correct-edge-insets-constructor.md
  website/docs/rules/overview.md
Labels: type: enhancement, in progress, area-rules

#925 fix: add zero exit to command runner
  CHANGELOG.md
  lib/src/cli/cli_runner.dart
Labels: type: enhancement, area-commands

#918 feat: add avoid-shrink-wrap-in-lists
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_shrink_wrap_in_lists/avoid_shrink_wrap_in_lists_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_shrink_wrap_in_lists/visitor.dart
  lib/src/utils/flutter_types_utils.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_shrink_wrap_in_lists/avoid_shrink_wrap_in_lists_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_shrink_wrap_in_lists/examples/example.dart
  website/docs/rules/flutter/avoid-shrink-wrap-in-lists.md
Labels: type: enhancement, area-rules

#934 feat: add configuration to prefer-moving-to-variable
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/config_parser.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/prefer_moving_to_variable_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/prefer_moving_to_variable_rule_test.dart
  website/docs/rules/common/prefer-moving-to-variable.md
  website/docs/rules/flutter/prefer-extracting-callbacks.md
Labels: type: enhancement, area-rules

#926 feat: add build method config entry to member-ordering-extended
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering_extended/config_parser.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering_extended/member_ordering_extended_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering_extended/models/member_group.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering_extended/models/member_type.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering_extended/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/member_ordering_extended/examples/flutter_methods_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/member_ordering_extended/member_ordering_extened_rule_test.dart
  website/docs/rules/common/member-ordering-extended.md
Labels: type: enhancement, area-rules

#950 docs: rework website rules list page
  website/docs/rules/overview.md
  website/docs/rules/overview.mdx
  website/src/components/RuleEntry.tsx
  website/src/components/buttons/CopyButton.tsx
  website/src/css/custom.css
Labels: type: documentation
