Repository dart-code-checker/dart-code-metrics, pull requests merged in 2022-09, with the labels that each got.

#995 feat: make avoid-unnecessary-type-assertions handle is! checks
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_type_assertions/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_type_assertions/avoid_unnecessary_type_assertions_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_type_assertions/examples/example_with_is.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_type_assertions/examples/example_with_not_is.dart
Labels: type: enhancement, area-rules

#992 fix: support not named builder parameters for avoid-returning-widgets
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_returning_widgets/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_returning_widgets/avoid_returning_widgets_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_returning_widgets/examples/not_named_parameter_example.dart
Labels: area-rules

#993 fix: support variables shadowing for avoid-unused-parameters
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unused_parameters/avoid_unused_parameters_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unused_parameters/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_unused_parameters/avoid_unused_parameters_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_unused_parameters/examples/incorrect_example.dart
Labels: area-rules

#994 fix: make check-unnecessary-nullable command ignore Flutter keys
  CHANGELOG.md
  lib/src/analyzers/unnecessary_nullable_analyzer/unnecessary_nullable_analyzer.dart
  test/resources/unnecessary_nullable_analyzer/nullable_widget_key_parameters.dart
  test/resources/unnecessary_nullable_analyzer/unnecessary_nullable_example.dart
  test/src/analyzers/unnecessary_nullable_analyzer/unnecessary_nullable_analyzer_test.dart
Labels: area-unnecessary-nullable

#972 fix: add const to edge insets constructors when appropriate
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_correct_edge_insets_constructor/validator.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_correct_edge_insets_constructor/prefer_correct_edge_insets_constructor_rule_test.dart
Labels: area-rules

#988 fix: make avoid-border-all not report errors on final variables
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_border_all/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_border_all/avoid_border_all_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_border_all/examples/example_with_final_variables.dart
Labels: area-rules

#987 feat: avoid passing async when sync expected
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_passing_async_when_sync_expected/avoid_passing_async_when_sync_expected.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_passing_async_when_sync_expected/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_passing_async_when_sync_expected/avoid_passing_async_when_sync_expected.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_passing_async_when_sync_expected/examples/example.dart
  website/docs/rules/common/avoid-passing-async-when-sync-expected.mdx
  website/docs/rules/index.mdx
Labels: type: enhancement, area-rules

#998 fix: use empty analysis options exclude to properly resolve units and speed up commands analysis
  CHANGELOG.md
  lib/src/analyzers/unnecessary_nullable_analyzer/unnecessary_nullable_analyzer.dart
  lib/src/analyzers/unused_code_analyzer/unused_code_analyzer.dart
  lib/src/analyzers/unused_files_analyzer/unused_files_analysis_config.dart
  lib/src/analyzers/unused_files_analyzer/unused_files_analyzer.dart
  lib/src/analyzers/unused_l10n_analyzer/unused_l10n_analysis_config.dart
  lib/src/analyzers/unused_l10n_analyzer/unused_l10n_analyzer.dart
  lib/src/config_builder/config_builder.dart
  lib/src/utils/analyzer_utils.dart
  test/src/analyzers/unused_code_analyzer/unused_code_analyzer_test.dart
Labels: area-commands

#999 feat: add static code diagnostic prefer-iterable-of
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_iterable_of/prefer_iterable_of_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_iterable_of/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_iterable_of/examples/double_linked_queue_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_iterable_of/examples/hash_set_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_iterable_of/examples/linked_hash_set_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_iterable_of/examples/list_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_iterable_of/examples/list_queue_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_iterable_of/examples/queue_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_iterable_of/examples/set_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_iterable_of/examples/splay_tree_set_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_iterable_of/prefer_iterable_of_rule_test.dart
  website/docs/rules/common/prefer-iterable-of.mdx
  website/docs/rules/index.mdx
Labels: type: enhancement, area-rules

#1002 feat: add static code diagnostic avoid-redundant-async
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_redundant_async/avoid_redundant_async_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_redundant_async/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_redundant_async/avoid_redundant_async_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_redundant_async/examples/example.dart
  website/docs/rules/common/avoid-redundant-async.mdx
  website/docs/rules/index.mdx
Labels: type: enhancement, area-rules

#1003 feat: add static code diagnostic check-for-equals-in-render-object-setters
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/check_for_equals_in_render_object_setters/check_for_equals_in_render_object_setters_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/check_for_equals_in_render_object_setters/visitor.dart
  lib/src/utils/flutter_types_utils.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/check_for_equals_in_render_object_setters/check_for_equals_in_render_object_setters_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/check_for_equals_in_render_object_setters/examples/example.dart
  website/docs/rules/flutter/check-for-equals-in-render-object-setters.mdx
  website/docs/rules/index.mdx
Labels: type: enhancement, area-rules

#1004 feat: add static code diagnostic consistent-update-render-object
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/consistent_update_render_object/consistent_update_render_object_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/consistent_update_render_object/visitor.dart
  lib/src/utils/flutter_types_utils.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/consistent_update_render_object/consistent_update_render_object_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/consistent_update_render_object/examples/correct_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/consistent_update_render_object/examples/incorrect_example.dart
  website/docs/rules/flutter/consistent-update-render-object.mdx
  website/docs/rules/index.mdx
Labels: type: enhancement, area-rules
