Repository dart-code-checker/dart-code-metrics, pull requests merged in 2022-12, with the labels that each got.

#1085 docs: improve rule checklist for contributors
  CHANGELOG.md
  CONTRIBUTING.md
Labels: type: documentation

#1089 docs: Add better example for presets
  website/docs/getting-started/configuration.md
Labels: type: documentation

#1090 fix: remove recursive traversal for ban-name
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/ban_name/ban_name_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/ban_name/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/ban_name/ban_name_rule_test.dart
Labels: area-rules

#1088 feat: add static code diagnostic `prefer-using-list-view`
  CHANGELOG.md
  lib/presets/flutter_all.yaml
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_using_list_view/prefer_using_list_view_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_using_list_view/visitor.dart
  lib/src/utils/flutter_types_utils.dart
  test/src/analyzers/lint_analyzer/rules/rules_factory_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_using_list_view/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_using_list_view/prefer_using_list_view_rule_test.dart
  website/docs/rules/flutter/prefer-using-list-view.mdx
  website/docs/rules/index.mdx
Labels: type: enhancement, area-rules

#1095 feat: add avoid-double-slash-imports rule
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_double_slash_imports/avoid_double_slash_imports_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_double_slash_imports/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_double_slash_imports/avoid_double_slash_imports_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_double_slash_imports/examples/example.dart
  website/docs/rules/common/avoid-double-slash-imports.mdx
  website/docs/rules/index.mdx
Labels: type: enhancement, area-rules

#1096 feat: support boolean literals removal for prefer-conditional-expressions auto-fix
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_conditional_expressions/prefer_conditional_expressions_rule.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_conditional_expressions/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_conditional_expressions/prefer_conditional_expressions_rule_test.dart
Labels: type: enhancement, area-rules

#1097 fix: correctly support conditional imports for check-unused-code
  CHANGELOG.md
  lib/src/analyzers/unused_code_analyzer/models/file_elements_usage.dart
  lib/src/analyzers/unused_code_analyzer/unused_code_analyzer.dart
  lib/src/analyzers/unused_code_analyzer/used_code_visitor.dart
  test/resources/unused_code_analyzer/conditional_prefixed_file.dart
  test/resources/unused_code_analyzer/unconditional_prefixed_file.dart
  test/resources/unused_code_analyzer/unused_code_example.dart
  test/src/analyzers/unused_code_analyzer/unused_code_analyzer_test.dart
Labels: area-unused-code

#1107 chore: remove strong-mode from analysis_options since it is no longer supported
  analysis_options.yaml
Labels: area-core

#1110 feat: support ignoring regular comments for format-comment
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/format_comment/config_parser.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/format_comment/format_comment_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/format_comment/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/format_comment/format_comment_rule_test.dart
  website/docs/rules/common/format-comment.mdx
Labels: type: enhancement, area-rules

#1109 fix: support function expression invocations for prefer-moving-to-variable
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/examples/generics_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/prefer_moving_to_variable_rule_test.dart
Labels: area-rules

#1111 feat: add strict config option to avoid-collection-methods-with-unrelated-types
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_collection_methods_with_unrelated_types/avoid_collection_methods_with_unrelated_types_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_collection_methods_with_unrelated_types/config_parser.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_collection_methods_with_unrelated_types/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_collection_methods_with_unrelated_types/avoid_collection_methods_with_unrelated_types_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_collection_methods_with_unrelated_types/examples/dynamic_example.dart
  website/docs/rules/common/avoid-collection-methods-with-unrelated-types.mdx
Labels: type: enhancement, area-rules

#1115 fix: ignore doc comments for prefer-commenting-analyzer-ignores
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_commenting_analyzer_ignores/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_commenting_analyzer_ignores/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_commenting_analyzer_ignores/prefer_commenting_analyzer_ignores_rule_test.dart
Labels: area-plugin

#1103 feat: add list-all-equatable-fields rule
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/list_all_equatable_fields/list_all_equatable_fields_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/list_all_equatable_fields/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/list_all_equatable_fields/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/list_all_equatable_fields/list_all_equatable_fields_rule_test.dart
  website/docs/rules/common/list-all-equatable-fields.mdx
  website/docs/rules/index.mdx
Labels: type: enhancement, area-rules

#1120 feat: add use-setstate-synchronously rule
  CHANGELOG.md
  lib/presets/flutter_all.yaml
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/use_setstate_synchronously/config.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/use_setstate_synchronously/fact.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/use_setstate_synchronously/helpers.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/use_setstate_synchronously/use_setstate_synchronously_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/use_setstate_synchronously/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/use_setstate_synchronously/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/use_setstate_synchronously/examples/known_errors.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/use_setstate_synchronously/use_setstate_synchronously_rule_test.dart
  website/docs/rules/flutter/use-setstate-synchronously.mdx
  website/docs/rules/index.mdx
Labels: type: enhancement, area-rules

#1121 fix: ignore Providers for avoid-returning-widgets
  CHANGELOG.md
  lib/src/utils/flutter_types_utils.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_returning_widgets/avoid_returning_widgets_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_returning_widgets/examples/provider_example.dart
Labels: area-rules

#1122 feat: support ignoring nesting for prefer-conditional-expressions
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_conditional_expressions/config_parser.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_conditional_expressions/prefer_conditional_expressions_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_conditional_expressions/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_static_class/config_parser.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_static_class/prefer_static_class_rule.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_conditional_expressions/examples/nested_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_conditional_expressions/prefer_conditional_expressions_rule_test.dart
  website/docs/rules/common/prefer-conditional-expressions.mdx
  website/docs/rules/index.mdx
Labels: type: enhancement, area-rules

#1124 fix: correctly handle FunctionExpressions for avoid-redundant-async
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_redundant_async/avoid_redundant_async_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_redundant_async/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_redundant_async/avoid_redundant_async_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_redundant_async/examples/example.dart
Labels: area-rules

#1125 feat: show warning for rules without config that require config to work
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/lint_analysis_options_validator.dart
  lib/src/analyzers/lint_analyzer/rules/models/rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_banned_imports/avoid_banned_imports_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/ban_name/ban_name_rule.dart
Labels: type: enhancement, area-rules

#1126 feat: ignore tear-off methods for avoid-unused-parameters
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_redundant_async/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unused_parameters/avoid_unused_parameters_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unused_parameters/visitor.dart
  lib/src/utils/node_utils.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_unused_parameters/avoid_unused_parameters_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_unused_parameters/examples/tear_off_example.dart
Labels: area-rules

#1128 fix: use-setstate-synchronously edge cases
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/use_setstate_synchronously/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/use_setstate_synchronously/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/use_setstate_synchronously/use_setstate_synchronously_rule_test.dart
  website/docs/rules/flutter/use-setstate-synchronously.mdx
Labels: area-rules
