Repository dart-code-checker/dart-code-metrics, pull requests merged in 2022-04, with the labels that each got.

#775 fix: add check for supertypes
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_non_null_assertion/avoid_non_null_assertion_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_non_null_assertion/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_non_null_assertion/examples/example.dart
Labels: area-rules

#776 feat: add static code diagnostic prefer-commenting-analyzer-ignores
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_commenting_analyzer_ignores/prefer_commenting_analyzer_ignores.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_commenting_analyzer_ignores/visitor.dart
  test/resources/suppression_example.dart
  test/src/analyzers/lint_analyzer/models/suppression_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_commenting_analyzer_ignores/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_commenting_analyzer_ignores/prefer_commenting_analyzer_ignores_rule_test.dart
  website/docs/rules/common/prefer-commenting-analyzer-ignores.md
  website/docs/rules/overview.md
Labels: type: enhancement, area-rules

#780 fix: correctly split exclude path
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/lint_config.dart
  lib/src/analyzers/unused_code_analyzer/unused_code_config.dart
  lib/src/analyzers/unused_files_analyzer/unused_files_config.dart
  lib/src/analyzers/unused_l10n_analyzer/unused_l10n_config.dart
  lib/src/cli/commands/check_unused_code_command.dart
  lib/src/cli/commands/check_unused_files_command.dart
  lib/src/cli/commands/check_unused_l10n_command.dart
  lib/src/config_builder/config_builder.dart
  lib/src/utils/exclude_utils.dart
  test/src/analyzers/unused_code_analyzer/unused_code_config_test.dart
  test/src/analyzers/unused_files_analyzer/unused_files_config_test.dart
  test/src/analyzers/unused_l10n_analyzer/unused_l10n_config_test.dart
Labels: area-commands

#786 fix: correctly handle nullable types of collections
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_collection_methods_with_unrelated_types/avoid_collection_methods_with_unrelated_types_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_collection_methods_with_unrelated_types/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_collection_methods_with_unrelated_types/avoid_collection_methods_with_unrelated_types_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_collection_methods_with_unrelated_types/examples/nullable_example.dart
Labels: area-rules

#781 feat: add static code diagnostic prefer-moving-to-variable
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/prefer_moving_to_variable_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/examples/cascade_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/prefer_moving_to_variable_rule_test.dart
  website/docs/rules/common/prefer-moving-to-variable.md
Labels: type: enhancement, area-rules

#795 docs: update prefer-async-await rule
  CHANGELOG.md
  website/docs/rules/common/prefer-async-await.md
Labels: type: documentation, area-website

#787 chore: fix prefer moving to variable issues
  CHANGELOG.md
  lib/src/analyzer_plugin/analyzer_plugin.dart
  lib/src/analyzer_plugin/analyzer_plugin_utils.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/halstead_volume/halstead_volume_ast_visitor.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/maximum_nesting_level/nesting_level_visitor.dart
  lib/src/analyzers/lint_analyzer/models/suppression.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/checkstyle/lint_checkstyle_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/console/lint_console_reporter_helper.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/html/lint_html_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/html/utility_functions.dart
  lib/src/analyzers/lint_analyzer/reporters/utility_selector.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/always_remove_listener/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_collection_methods_with_unrelated_types/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_setstate/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_type_assertions/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_type_casts/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unrelated_type_assertions/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/format_comment/format_comment_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/format_comment/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/member_ordering_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering_extended/member_ordering_extended_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/newline_before_return/newline_before_return_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_boolean_literal_compare/no_boolean_literal_compare_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_const_border_radius/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_immediate_return/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_match_file_name/prefer_match_file_name_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/provide_correct_intl_args/visitor.dart
  lib/src/cli/commands/base_command.dart
  lib/src/utils/analyzer_utils.dart
Labels: area-core

#807 docs(avoid-border-all): fix `Border.all` constructor syntax
  website/docs/rules/flutter/avoid-border-all.md
Labels: type: documentation, area-website

#805 fix: dart-code-metrics crash saying `Bad state: No element` when running command
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/utils/report_utils.dart
Labels: area-commands
