Repository dart-code-checker/dart-code-metrics, pull requests merged in 2022-08, with the labels that each got.

#945 fix: avoid-top-level-members-in-tests
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_top_level_members_in_tests/avoid_top_level_members_in_tests_rule.dart
Labels: area-rules

#965 feat: support passing file paths to all commands
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/lint_analyzer.dart
  lib/src/analyzers/unnecessary_nullable_analyzer/unnecessary_nullable_analyzer.dart
  lib/src/analyzers/unused_l10n_analyzer/unused_l10n_analyzer.dart
  lib/src/cli/commands/analyze_command.dart
  lib/src/cli/commands/base_command.dart
  lib/src/utils/analyzer_utils.dart
  lib/src/utils/file_utils.dart
  test/src/cli/commands/base_command_test.dart
Labels: type: enhancement, area-commands

#966 feat: replace relative path in reporters output with absolute to support IDE clicks
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/console/lint_console_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/console/lint_console_reporter_helper.dart
  lib/src/analyzers/unnecessary_nullable_analyzer/reporters/reporters_list/console/unnecessary_nullable_console_reporter.dart
  lib/src/analyzers/unused_code_analyzer/reporters/reporters_list/console/unused_code_console_reporter.dart
  lib/src/analyzers/unused_files_analyzer/reporters/reporters_list/console/unused_files_console_reporter.dart
  lib/src/analyzers/unused_l10n_analyzer/reporters/reporters_list/console/unused_l10n_console_reporter.dart
  test/src/analyzers/lint_analyzer/reporters/reporters_list/console/lint_console_reporter_helper_test.dart
  test/src/analyzers/lint_analyzer/reporters/reporters_list/console/lint_console_reporter_test.dart
  test/src/analyzers/unused_code_analyzer/reporters/reporters_list/console/unused_code_console_reporter_test.dart
  test/src/analyzers/unused_files_analyzer/reporters/reporters_list/console/unused_files_console_reporter_test.dart
  test/src/analyzers/unused_l10n_analyzer/reporters/reporters_list/console/unused_l10n_console_reporter_test.dart
Labels: type: enhancement, area-core
