Repository dart-code-checker/dart-code-metrics, pull requests merged in 2022-02, with the labels that each got.

#675 fix: restore `analyze` command as default command
  .vscode/settings.json
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  lib/src/cli/cli_runner.dart
  lib/src/version.dart
  pubspec.yaml
  tools/analyzer_plugin/pubspec.yaml
  website/docs/cli/analyze.md
  website/docs/getting-started/installation.md
Labels: area-commands

#687 feat: add avoid-dynamic rule
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_dynamic/avoid_dynamic_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_dynamic/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_dynamic/avoid_dynamic_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_dynamic/examples/example.dart
  website/docs/rules/common/avoid-dynamic.md
  website/docs/rules/overview.md
Labels: type: enhancement, area-rules

#686 feat: add prefer-async-await rule
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_async_await/prefer_async_await_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_async_await/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_async_await/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_async_await/prefer_async_await_rule_test.dart
  website/docs/rules/common/prefer-async-await.md
  website/docs/rules/overview.md
Labels: type: enhancement, area-rules

#685 fix: correctly handle variables declaration
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_method.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/always_remove_listener/always_remove_listener_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_returning_widgets/avoid_returning_widgets_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_setstate/avoid_unnecessary_setstate_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_type_assertions/avoid_unnecessary_type_assertions_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_wrapping_in_padding/avoid_wrapping_in_padding_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_extracting_callbacks/prefer_extracting_callbacks_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_first/prefer_first_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_last/prefer_last_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_single_widget_per_file/prefer_single_widget_per_file_rule.dart
  lib/src/analyzers/unused_code_analyzer/used_code_visitor.dart
  lib/src/utils/dart_types_utils.dart
  lib/src/utils/flutter_types_utils.dart
  test/resources/unused_code_analyzer/public_members.dart
  test/resources/unused_code_analyzer/unused_code_example.dart
  test/src/analyzers/unused_code_analyzer/unused_code_analyzer_test.dart
Labels: area-commands, area-unused-code

#684 feat: add monorepo flag for check-unused-files command
  CHANGELOG.md
  lib/src/analyzers/unused_code_analyzer/unused_code_analyzer.dart
  lib/src/analyzers/unused_files_analyzer/unused_files_analyzer.dart
  lib/src/analyzers/unused_files_analyzer/unused_files_config.dart
  lib/src/analyzers/unused_files_analyzer/unused_files_visitor.dart
  lib/src/cli/commands/check_unused_code_command.dart
  lib/src/cli/commands/check_unused_files_command.dart
  lib/src/config_builder/config_builder.dart
  lib/src/utils/analyzer_utils.dart
  test/src/analyzers/lint_analyzer/lint_config_test.dart
  test/src/analyzers/unused_code_analyzer/unused_code_config_test.dart
  test/src/analyzers/unused_files_analyzer/unused_files_analyzer_test.dart
  test/src/analyzers/unused_files_analyzer/unused_files_config_test.dart
  test/src/analyzers/unused_l10n_analyzer/unused_l10n_config_test.dart
  test/src/cli/commands/check_unused_code_command_test.dart
  test/src/cli/commands/check_unused_files_command_test.dart
Labels: type: enhancement, area-unused-files, area-commands

#676 fix: add static byte store to reuse between plugin instances
  CHANGELOG.md
  lib/src/analyzer_plugin/analyzer_plugin.dart
  lib/src/utils/analyzer_utils.dart
Labels: area-plugin

#692 fix: correcly handle const maps
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_magic_number/no_magic_number_rule.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/no_magic_number/examples/example.dart
Labels: area-rules

#693 feat: improve avoid-returning-widgets builder functions handling
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_returning_widgets/avoid_returning_widgets_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_returning_widgets/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_returning_widgets/examples/example.dart
Labels: type: enhancement, area-rules

#697 fix: correctly handle excluded files for check-unused-code
  CHANGELOG.md
  analysis_options.yaml
  lib/src/analyzers/unused_code_analyzer/unused_code_analyzer.dart
Labels: area-unused-code

#698 refactor: prepare for complex metric values
  .vscode/settings.json
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/lint_analyzer.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/cyclomatic_complexity/cyclomatic_complexity_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/halstead_volume/halstead_volume_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/lines_of_code_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/maintainability_index_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/maximum_nesting_level/maximum_nesting_level_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/number_of_methods_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/number_of_parameters_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/source_lines_of_code/source_lines_of_code_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/technical_debt/technical_debt_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/metrics_list/weight_of_class_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/models/file_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/models/metric.dart
  lib/src/analyzers/lint_analyzer/metrics/models/metric_documentation.dart
  lib/src/analyzers/lint_analyzer/metrics/models/metric_value.dart
  lib/src/analyzers/lint_analyzer/models/report.dart
  lib/src/analyzers/lint_analyzer/models/summary_lint_report_record.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/console/lint_console_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/console/lint_console_reporter_helper.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/html/components/report_details_tooltip.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/json/lint_json_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/utility_selector.dart
  lib/src/analyzers/lint_analyzer/utils/report_utils.dart
  lib/src/cli/commands/analyze_command.dart
  lib/src/config_builder/config_builder.dart
  test/resources/maintability_index_metric_example.dart
  test/resources/number_of_parameters_metric_example.dart
  test/src/analyzers/lint_analyzer/reporters/reporters_list/report_example.dart
  test/src/analyzers/lint_analyzer/reporters/utility_selector_test.dart
  test/src/analyzers/lint_analyzer/utils/report_utils_test.dart
  test/stubs_builders.dart
  website/docs/metrics/maintainability-index.md
Labels: area-metrics

#622 feat: add static code diagnostics `format-comment`.
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/format_comment/format_comment_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/format_comment/models/comment_info.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/format_comment/models/comment_type.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/format_comment/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/format_comment/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/format_comment/examples/example_documentation.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/format_comment/examples/example_without_issue.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/format_comment/format_comment_test.dart
  website/docs/rules/common/format-comment.md
  website/docs/rules/overview.md
Labels: type: enhancement, area-rules

#705 feat: Create new rule `avoid_collection_methods_with_unrelated_types`
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_collection_methods_with_unrelated_types/avoid_collection_methods_with_unrelated_types_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_collection_methods_with_unrelated_types/visitor.dart
  lib/src/utils/dart_types_utils.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_collection_methods_with_unrelated_types/avoid_collection_methods_with_unrelated_types_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_collection_methods_with_unrelated_types/examples/example.dart
  website/docs/rules/common/avoid-collection-methods-with-unrelated-types.md
  website/docs/rules/overview.md
Labels: type: enhancement, area-rules
