Repository dart-code-checker/dart-code-metrics, pull requests merged in 2022-05, with the labels that each got.

#822 fix: correctly handle disabling rules with false
  CHANGELOG.md
  lib/src/config_builder/models/analysis_options.dart
  test/src/config_builder/models/analysis_options_test.dart
Labels: area-core

#824 feat: remove declaration in prefer-immediate-return
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_immediate_return/prefer_immediate_return_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_immediate_return/visitor.dart
  lib/src/utils/node_utils.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_immediate_return/prefer_immediate_return_rule_test.dart
Labels: type: enhancement, area-rules

#825 feat: avoid-non-ascii-symbols rule
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_non_ascii_symbols/avoid_non_ascii_symbols_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_non_ascii_symbols/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_non_ascii_symbols/avoid_non_ascii_symbols_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_non_ascii_symbols/examples/example.dart
  website/docs/rules/common/avoid-non-ascii-symbols.md
  website/docs/rules/overview.md
Labels: type: enhancement, area-rules

#829 fix: remove duplicated highlights and ignore void function calls
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/examples/arguments_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/examples/arguments_with_object_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/examples/scope_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/prefer_moving_to_variable_rule_test.dart
Labels: area-rules

#849 fix: temporary remove enums support
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_trailing_comma/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_trailing_comma/examples/incorrect_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_trailing_comma/prefer_trailing_comma_rule_test.dart
Labels: area-rules

#828 feat: Add the option `ignored-patterns` to the rule `format-comment`
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/format_comment/config_parser.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/format_comment/format_comment_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/format_comment/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/format_comment/format_comment_test.dart
  website/docs/rules/common/format-comment.md
  website/docs/rules/overview.md
Labels: type: enhancement, area-rules
