Repository dart-code-checker/dart-code-metrics, pull requests merged in 2022-01, with the labels that each got.

#625 feat: Support l10n extensions
  CHANGELOG.md
  lib/src/analyzers/unused_l10n_analyzer/unused_l10n_visitor.dart
  test/resources/unused_l10n_analyzer/test_i18n.dart
  test/resources/unused_l10n_analyzer/unused_l10n_analyzer_example.dart
  test/src/analyzers/unused_l10n_analyzer/unused_l10n_analyzer_test.dart
Labels: type: enhancement, area-unused-l10n

#627 feat: improve `prefer-correct-type-name` rule
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_correct_type_name/validator.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_correct_type_name/examples/class_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_correct_type_name/prefer_correct_type_name_rule_test.dart
  test/src/helpers/file_resolver.dart
  test/src/helpers/rule_test_helper.dart
Labels: area-rules

#628 test: add more test cases for `avoid-ignoring-return-values` rule
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_ignoring_return_values/avoid_ignoring_return_values_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_ignoring_return_values/examples/example.dart
Labels: area-rules

#630 docs: add link to Flutter Linting Comparsion
  website/docusaurus.config.js
Labels: area-website

#634 Update website config
  website/docusaurus.config.js
Labels: area-website

#633 fix: support static getters for check unused l10n
  CHANGELOG.md
  lib/src/analyzers/unused_l10n_analyzer/unused_l10n_visitor.dart
  test/resources/unused_l10n_analyzer/test_i18n.dart
  test/resources/unused_l10n_analyzer/unused_l10n_analyzer_example.dart
  website/docusaurus.config.js
Labels: type: enhancement, area-unused-l10n

#632 feat: add `delete-files` flag
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/lint_analyzer.dart
  lib/src/analyzers/lint_analyzer/reporters/reporter_factory.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/code_climate/lint_code_climate_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/console/lint_console_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/github/lint_github_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/html/lint_html_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/json/lint_json_reporter.dart
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/unused_files_analyzer/reporters/report_params.dart
  lib/src/analyzers/unused_files_analyzer/reporters/reporter_factory.dart
  lib/src/analyzers/unused_files_analyzer/reporters/reporters_list/console/unused_files_console_reporter.dart
  lib/src/analyzers/unused_files_analyzer/reporters/reporters_list/json/unused_files_json_reporter.dart
  lib/src/analyzers/unused_files_analyzer/unused_files_analyzer.dart
  lib/src/analyzers/unused_l10n_analyzer/reporters/reporter_factory.dart
  lib/src/analyzers/unused_l10n_analyzer/reporters/reporters_list/console/unused_l10n_console_reporter.dart
  lib/src/analyzers/unused_l10n_analyzer/reporters/reporters_list/json/unused_l10n_json_reporter.dart
  lib/src/analyzers/unused_l10n_analyzer/unused_l10n_analyzer.dart
  lib/src/cli/commands/check_unused_files_command.dart
  lib/src/cli/models/flag_names.dart
  lib/src/reporters/models/code_climate_reporter.dart
  lib/src/reporters/models/console_reporter.dart
  lib/src/reporters/models/github_reporter.dart
  lib/src/reporters/models/html_reporter.dart
  lib/src/reporters/models/json_reporter.dart
  lib/src/reporters/models/reporter.dart
  test/src/analyzers/lint_analyzer/rules/rules_factory_test.dart
  test/src/analyzers/unused_files_analyzer/reporters/reporters_list/json/unused_files_json_reporter_test.dart
  test/src/analyzers/unused_files_analyzer/reporters/reporters_list/unused_files_json_reporter_test.dart
  test/src/cli/commands/check_unused_files_command_test.dart
  website/docs/cli/check-unused-files.md
Labels: type: enhancement, area-unused-files, area-commands

#637 feat: support excludes for a separate anti-pattern.
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_method.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_parameter_list.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/models/pattern.dart
  lib/src/analyzers/lint_analyzer/lint_analyzer.dart
  lib/src/analyzers/lint_analyzer/lint_utils.dart
  lib/src/analyzers/lint_analyzer/rules/rule_utils.dart
  test/src/analyzers/lint_analyzer/lint_utils_test.dart
  test/src/analyzers/lint_analyzer/rules/rule_utils_test.dart
  website/docs/getting-started/configuration.md
Labels: type: enhancement, area-anti-patterns

#639 fix: prefer-extracting-callbacks in nested widgets
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_extracting_callbacks/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_extracting_callbacks/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_extracting_callbacks/prefer_extracting_callbacks_rule_test.dart
Labels: type: enhancement, area-rules

#642 fix: correctly handle method invocations on getters
  CHANGELOG.md
  lib/src/analyzers/unused_l10n_analyzer/unused_l10n_visitor.dart
  test/resources/unused_l10n_analyzer/test_i18n.dart
  test/resources/unused_l10n_analyzer/unused_l10n_analyzer_example.dart
  test/src/analyzers/unused_l10n_analyzer/unused_l10n_analyzer_test.dart
Labels: area-unused-l10n

#650 feat: ignore private members for check-unused-l10n command
  CHANGELOG.md
  lib/src/analyzers/unused_l10n_analyzer/unused_l10n_analyzer.dart
  test/resources/unused_l10n_analyzer/test_i18n.dart
Labels: type: enhancement, area-commands, area-unused-l10n

#649 feat: add check unused code command
  CHANGELOG.md
  README.md
  analysis_options.yaml
  lib/src/analyzers/unused_code_analyzer/models/file_elements_usage.dart
  lib/src/analyzers/unused_code_analyzer/models/unused_code_file_report.dart
  lib/src/analyzers/unused_code_analyzer/models/unused_code_issue.dart
  lib/src/analyzers/unused_code_analyzer/public_code_visitor.dart
  lib/src/analyzers/unused_code_analyzer/reporters/reporter_factory.dart
  lib/src/analyzers/unused_code_analyzer/reporters/reporters_list/console/unused_code_console_reporter.dart
  lib/src/analyzers/unused_code_analyzer/reporters/reporters_list/json/unused_code_json_reporter.dart
  lib/src/analyzers/unused_code_analyzer/unused_code_analysis_config.dart
  lib/src/analyzers/unused_code_analyzer/unused_code_analyzer.dart
  lib/src/analyzers/unused_code_analyzer/unused_code_config.dart
  lib/src/analyzers/unused_code_analyzer/used_code_visitor.dart
  lib/src/analyzers/unused_files_analyzer/unused_files_visitor.dart
  lib/src/analyzers/unused_l10n_analyzer/unused_l10n_analyzer.dart
  lib/src/cli/cli_runner.dart
  lib/src/cli/commands/check_unused_code_command.dart
  lib/src/config_builder/config_builder.dart
  lib/src/utils/node_utils.dart
  lib/unused_code_analyzer.dart
  test/resources/unused_code_analyzer/export.dart
  test/resources/unused_code_analyzer/exported_members.dart
  test/resources/unused_code_analyzer/not_used.dart
  test/resources/unused_code_analyzer/public_members.dart
  test/resources/unused_code_analyzer/unused_code_example.dart
  test/src/analyzers/unused_code_analyzer/reporters/reporter_factory_test.dart
  test/src/analyzers/unused_code_analyzer/reporters/reporters_list/console/unused_code_console_reporter_test.dart
  test/src/analyzers/unused_code_analyzer/reporters/reporters_list/unused_code_json_reporter_test.dart
  test/src/analyzers/unused_code_analyzer/unused_code_analyzer_test.dart
  test/src/analyzers/unused_l10n_analyzer/unused_l10n_analyzer_test.dart
  test/src/cli/commands/check_unused_code_command_test.dart
  website/docs/cli/check-unused-code.md
  website/docs/cli/overview.md
  website/static/img/unused-code-console-report.png
Labels: type: enhancement, area-commands

#654 fix: support excludes and conditional imports for check-unused-code
  CHANGELOG.md
  analysis_options.yaml
  lib/src/analyzers/unused_code_analyzer/models/file_elements_usage.dart
  lib/src/analyzers/unused_code_analyzer/models/prefix_element_usage.dart
  lib/src/analyzers/unused_code_analyzer/unused_code_analyzer.dart
  lib/src/analyzers/unused_code_analyzer/used_code_visitor.dart
  test/resources/unused_code_analyzer/conditional_file.dart
  test/resources/unused_code_analyzer/generated/some_file.freezed.dart
  test/resources/unused_code_analyzer/not_used.dart
  test/resources/unused_code_analyzer/public_members.dart
  test/resources/unused_code_analyzer/unconditional_file.dart
  test/resources/unused_code_analyzer/unused_code_example.dart
  test/src/analyzers/unused_code_analyzer/unused_code_analyzer_test.dart
Labels: area-commands

#658 fix: make `check-unused-l10n` also cover supertype member calls
  CHANGELOG.md
  lib/src/analyzers/unused_l10n_analyzer/unused_l10n_analyzer.dart
  test/resources/unused_l10n_analyzer/base_localization.dart
  test/resources/unused_l10n_analyzer/test_i18n.dart
  test/resources/unused_l10n_analyzer/unused_l10n_analyzer_example.dart
  test/src/analyzers/unused_l10n_analyzer/unused_l10n_analyzer_test.dart
Labels: type: enhancement, area-commands, area-unused-l10n

#662 feat: add new command flag `--no-congratulate`
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/lint_analyzer.dart
  lib/src/analyzers/lint_analyzer/lint_config.dart
  lib/src/analyzers/lint_analyzer/reporters/lint_report_params.dart
  lib/src/analyzers/lint_analyzer/reporters/reporter_factory.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/code_climate/lint_code_climate_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/console/lint_console_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/github/lint_github_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/html/lint_html_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/json/lint_json_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/utility_selector.dart
  lib/src/analyzers/unused_code_analyzer/reporters/reporter_factory.dart
  lib/src/analyzers/unused_code_analyzer/reporters/reporters_list/console/unused_code_console_reporter.dart
  lib/src/analyzers/unused_code_analyzer/reporters/reporters_list/json/unused_code_json_reporter.dart
  lib/src/analyzers/unused_code_analyzer/reporters/unused_code_report_params.dart
  lib/src/analyzers/unused_code_analyzer/unused_code_analyzer.dart
  lib/src/analyzers/unused_files_analyzer/reporters/report_params.dart
  lib/src/analyzers/unused_files_analyzer/reporters/reporter_factory.dart
  lib/src/analyzers/unused_files_analyzer/reporters/reporters_list/console/unused_files_console_reporter.dart
  lib/src/analyzers/unused_files_analyzer/reporters/reporters_list/json/unused_files_json_reporter.dart
  lib/src/analyzers/unused_files_analyzer/reporters/unused_files_report_params.dart
  lib/src/analyzers/unused_files_analyzer/unused_files_analyzer.dart
  lib/src/analyzers/unused_l10n_analyzer/reporters/reporter_factory.dart
  lib/src/analyzers/unused_l10n_analyzer/reporters/reporters_list/console/unused_l10n_console_reporter.dart
  lib/src/analyzers/unused_l10n_analyzer/reporters/reporters_list/json/unused_l10n_json_reporter.dart
  lib/src/analyzers/unused_l10n_analyzer/reporters/unused_l10n_report_params.dart
  lib/src/analyzers/unused_l10n_analyzer/unused_l10n_analyzer.dart
  lib/src/cli/commands/analyze_command.dart
  lib/src/cli/commands/base_command.dart
  lib/src/cli/commands/check_unused_code_command.dart
  lib/src/cli/commands/check_unused_files_command.dart
  lib/src/cli/commands/check_unused_l10n_command.dart
  lib/src/cli/models/flag_names.dart
  test/src/analyzers/lint_analyzer/lint_config_test.dart
  test/src/analyzers/lint_analyzer/reporters/reporters_list/console/lint_console_reporter_helper_test.dart
  test/src/analyzers/lint_analyzer/reporters/reporters_list/console/lint_console_reporter_test.dart
  test/src/analyzers/unused_code_analyzer/reporters/reporters_list/console/unused_code_console_reporter_test.dart
  test/src/analyzers/unused_files_analyzer/reporters/reporters_list/console/unused_files_console_reporter_test.dart
  test/src/analyzers/unused_files_analyzer/reporters/reporters_list/json/unused_files_json_reporter_test.dart
  test/src/analyzers/unused_l10n_analyzer/reporters/reporters_list/console/unused_l10n_console_reporter_test.dart
  test/src/cli/commands/analyze_command_test.dart
  test/src/cli/commands/check_unused_code_command_test.dart
  test/src/cli/commands/check_unused_files_command_test.dart
  test/src/cli/commands/check_unused_l10n_command_test.dart
Labels: area-commands

#660 feat: add version flag to print package version
  CHANGELOG.md
  lib/src/cli/cli_runner.dart
  lib/src/cli/models/flag_names.dart
  lib/src/version.dart
  test/src/cli/cli_runner_test.dart
  test/src/cli/commands/analyze_command_test.dart
  test/src/cli/commands/base_command_test.dart
  test/src/cli/commands/check_unused_code_command_test.dart
  test/src/cli/commands/check_unused_files_command_test.dart
  test/src/cli/commands/check_unused_l10n_command_test.dart
Labels: type: enhancement, area-commands

#670 docs: change name of metric number-of-arguments to number-of-parameters
  website/docs/getting-started/configuration.md
Labels: type: documentation, area-website

#672 chore: update algolia integration
  website/docusaurus.config.js
Labels: area-website

#671 fix: `check-unused-files` now ignored some system files
  CHANGELOG.md
  lib/src/utils/node_utils.dart
Labels: area-unused-files, area-commands

#659 feat: add experimental monorepo support for check-unused-code
  CHANGELOG.md
  lib/src/analyzers/unused_code_analyzer/unused_code_analyzer.dart
  lib/src/analyzers/unused_code_analyzer/unused_code_config.dart
  lib/src/cli/cli_runner.dart
  lib/src/cli/commands/check_unused_code_command.dart
  lib/src/cli/models/flag_names.dart
  lib/src/config_builder/config_builder.dart
  test/src/analyzers/unused_code_analyzer/unused_code_analyzer_test.dart
  test/src/cli/commands/check_unused_code_command_test.dart
  website/docs/cli/check-unused-code.md
Labels: type: enhancement, area-commands
