Repository dart-code-checker/dart-code-metrics, pull requests merged in 2022-03, with the labels that each got.

#722 feat: create `tag-name`; create `ban-name`; revert analyzer version
  .gitignore
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_returning_widgets/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_unnecessary_setstate/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/ban_name/ban_name_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/ban_name/utils/config_parser.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/ban_name/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_extracting_callbacks/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_single_widget_per_file/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/tag_name/tag_name_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/tag_name/utils/config_parser.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/tag_name/visitor.dart
  pubspec.yaml
  test/src/analyzers/lint_analyzer/rules/rules_list/ban_name/ban_name_rule.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/ban_name/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/tag_name/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/tag_name/tag_name_rule_test.dart
  website/docs/rules/common/ban-name.md
  website/docs/rules/common/tag-name.md
  website/docs/rules/overview.md
Labels: type: enhancement, area-rules

#736 feat: add prefer-immediate-return rule
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_immediate_return/prefer_immediate_return_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_immediate_return/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_immediate_return/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_immediate_return/prefer_immediate_return_rule_test.dart
  website/docs/rules/common/prefer-immediate-return.md
  website/docs/rules/overview.md
Labels: type: enhancement, area-rules

#738 feat: add Checkstyle format reporter.
  .vscode/settings.json
  CHANGELOG.md
  bitbucket-pipelines.yml
  lib/src/analyzers/lint_analyzer/reporters/reporter_factory.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/checkstyle/lint_checkstyle_reporter.dart
  lib/src/cli/commands/analyze_command.dart
  lib/src/cli/models/flag_names.dart
  lib/src/reporters/models/checkstyle_reporter.dart
  pubspec.yaml
  test/src/analyzers/lint_analyzer/reporters/reporters_list/checkstyle/lint_checkstyle_reporter_test.dart
  test/src/cli/commands/analyze_command_test.dart
  website/docs/cli/analyze.md
  website/docs/cli/overview.md
  website/static/img/bitbucket-pipeline-report.jpg
Labels: area-infrastructure

#755 fix: support index expressions for no-magic-number rule
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_magic_number/no_magic_number_rule.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/no_magic_number/examples/exceptions_example.dart
Labels: area-rules

#760 fix: cover more cases in "prefer-immediate-return" rule
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_immediate_return/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_immediate_return/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_immediate_return/prefer_immediate_return_rule_test.dart
Labels: type: enhancement, area-rules
