Repository dart-code-checker/dart-code-metrics, pull requests merged in 2022-10, with the labels that each got.

#861 build: update minimal dart version
  .github/workflows/package_analyze.yaml
  CHANGELOG.md
  analysis_options.yaml
  lib/src/analyzer_plugin/analyzer_plugin.dart
  lib/src/analyzers/lint_analyzer/metrics/models/class_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/models/file_metric.dart
  lib/src/analyzers/lint_analyzer/metrics/models/function_metric.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/checkstyle/lint_checkstyle_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/code_climate/lint_code_climate_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/console/lint_console_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/github/lint_github_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/html/lint_html_reporter.dart
  lib/src/analyzers/lint_analyzer/rules/models/angular_rule.dart
  lib/src/analyzers/lint_analyzer/rules/models/common_rule.dart
  lib/src/analyzers/lint_analyzer/rules/models/flutter_rule.dart
  lib/src/analyzers/lint_analyzer/rules/models/intl_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/format_comment/config_parser.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_intl_name/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/provide_correct_intl_args/visitor.dart
  lib/src/analyzers/unnecessary_nullable_analyzer/reporters/reporters_list/console/unnecessary_nullable_console_reporter.dart
  lib/src/analyzers/unused_code_analyzer/reporters/reporters_list/console/unused_code_console_reporter.dart
  lib/src/analyzers/unused_files_analyzer/reporters/reporters_list/console/unused_files_console_reporter.dart
  lib/src/analyzers/unused_l10n_analyzer/reporters/reporters_list/console/unused_l10n_console_reporter.dart
  pubspec.yaml
Labels: area-core

#1014 feat: add logger and progress indication
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/lint_analyzer.dart
  lib/src/analyzers/lint_analyzer/models/lint_file_report.dart
  lib/src/analyzers/unnecessary_nullable_analyzer/unnecessary_nullable_analyzer.dart
  lib/src/analyzers/unused_code_analyzer/unused_code_analyzer.dart
  lib/src/analyzers/unused_files_analyzer/unused_files_analyzer.dart
  lib/src/analyzers/unused_l10n_analyzer/unused_l10n_analyzer.dart
  lib/src/cli/cli_runner.dart
  lib/src/cli/commands/analyze_command.dart
  lib/src/cli/commands/base_command.dart
  lib/src/cli/commands/check_unnecessary_nullable_command.dart
  lib/src/cli/commands/check_unused_code_command.dart
  lib/src/cli/commands/check_unused_files_command.dart
  lib/src/cli/commands/check_unused_l10n_command.dart
  lib/src/cli/models/flag_names.dart
  lib/src/logger/logger.dart
  lib/src/logger/progress.dart
  lib/src/reporters/models/console_reporter.dart
  pubspec.yaml
  test/src/analyzers/lint_analyzer/reporters/reporters_list/console/lint_console_reporter_test.dart
  test/src/analyzers/unused_code_analyzer/reporters/reporters_list/console/unused_code_console_reporter_test.dart
  test/src/analyzers/unused_files_analyzer/reporters/reporters_list/console/unused_files_console_reporter_test.dart
  test/src/analyzers/unused_l10n_analyzer/reporters/reporters_list/console/unused_l10n_console_reporter_test.dart
  test/src/cli/cli_runner_test.dart
  test/src/cli/commands/analyze_command_test.dart
  test/src/cli/commands/check_unnecessary_nullable_command_test.dart
  test/src/cli/commands/check_unused_code_command_test.dart
  test/src/cli/commands/check_unused_files_command_test.dart
  test/src/cli/commands/check_unused_l10n_command_test.dart
  website/docs/cli/check-unnecessary-nullable.md
  website/docs/cli/check-unused-code.md
Labels: type: enhancement, area-core

#1021 fix: make avoid-redundant-async handle yield
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_redundant_async/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_redundant_async/examples/example.dart
Labels: area-rules

#1023 feat: add static code diagnostic missing-test-assertion
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/missing_test_assertion/config_parser.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/missing_test_assertion/missing_test_assertion_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/missing_test_assertion/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/missing_test_assertion/examples/correct_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/missing_test_assertion/examples/custom_assertions_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/missing_test_assertion/examples/incorrect_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/missing_test_assertion/missing_test_assertion_test.dart
  website/docs/rules/common/missing-test-assertion.mdx
Labels: type: enhancement, area-rules

#1025 feat: add support for presets
  CHANGELOG.md
  lib/presets/all.yaml
  lib/presets/dart_all.yaml
  lib/presets/flutter_all.yaml
  lib/src/analyzers/lint_analyzer/lint_config.dart
  lib/src/config_builder/models/analysis_options.dart
  test/resources/analysis_options_with_extends.yaml
  test/resources/test_lints/lib/presets.yaml
  test/src/config_builder/models/analysis_options_test.dart
  website/docs/getting-started/configuration.md
Labels: type: enhancement, area-core

#1026 feat: add 'include-methods' config to 'missing-test-assertion' rule
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/missing_test_assertion/config_parser.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/missing_test_assertion/missing_test_assertion_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/missing_test_assertion/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/missing_test_assertion/examples/custom_methods_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/missing_test_assertion/missing_test_assertion_test.dart
  website/docs/rules/common/missing-test-assertion.mdx
Labels: type: enhancement, area-rules

#1036 fix(avoid-passing-async-when-sync-expected): FutureOr Functions are…
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_passing_async_when_sync_expected/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_passing_async_when_sync_expected/examples/example.dart
Labels: hacktoberfest-accepted

#1039 feat: add avoid-cascade-after-if-null rule
  .github/workflows/package_analyze.yaml
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_cascade_after_if_null/avoid_cascade_after_if_null_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_cascade_after_if_null/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_cascade_after_if_null/avoid_cascade_after_if_null_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_cascade_after_if_null/examples/example.dart
  website/docs/rules/common/avoid-cascade-after-if-null.mdx
  website/docs/rules/index.mdx
Labels: type: enhancement, area-rules

#1040 feat: export cli runner and add documentation for use-case
  CHANGELOG.md
  lib/cli_runner.dart
  website/docs/cli/index.md
Labels: type: enhancement, area-core

#1042 feat: support report to the json file option for the analyze command
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/json/lint_json_reporter.dart
  lib/src/cli/commands/analyze_command.dart
  lib/src/cli/models/flag_names.dart
  lib/src/cli/models/parsed_arguments.dart
  test/src/analyzers/lint_analyzer/lint_config_test.dart
  test/src/cli/commands/analyze_command_test.dart
  website/docs/cli/analyze.md
Labels: type: enhancement, area-core

#1041 feat: rename member-ordering-extended to member-ordering
  CHANGELOG.md
  lib/presets/dart_all.yaml
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/config_parser.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/member_ordering_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/models/annotation.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/models/field_keyword.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/models/member_group.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/models/member_type.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/models/modifier.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering_extended/config_parser.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering_extended/member_ordering_extended_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering_extended/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_factory_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/examples/alphabetical_correct_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/examples/alphabetical_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/examples/angular_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/examples/flutter_methods_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/examples/type_alphabetical_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/member_ordering_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/member_ordering_extended/examples/alphabetical_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/member_ordering_extended/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/member_ordering_extended/examples/multiple_classes_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/member_ordering_extended/member_ordering_extened_rule_test.dart
  website/docs/rules/common/member-ordering-extended.mdx
  website/docs/rules/common/member-ordering.mdx
  website/docs/rules/index.mdx
Labels: area-rules

#1044 feat: support dynamic method name for member-ordering
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/config_parser.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/models/member_group.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/examples/flutter_widget_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/member_ordering/member_ordering_rule_test.dart
  website/docs/rules/common/member-ordering.mdx
Labels: type: enhancement, area-rules

#1050 fix: check `of` constructor exist for `prefer-iterable-of`
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_iterable_of/visitor.dart
  pubspec.yaml
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_iterable_of/examples/queue_list_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_iterable_of/prefer_iterable_of_rule_test.dart
Labels: area-rules

#1052 feat: change severity for avoid-banned-imports, prefer-trailing-comma, ban-name rules
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_banned_imports/avoid_banned_imports_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/ban_name/ban_name_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_trailing_comma/prefer_trailing_comma_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/tag_name/tag_name_rule.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_banned_imports/avoid_banned_imports_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/ban_name/ban_name_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_iterable_of/prefer_iterable_of_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_trailing_comma/prefer_trailing_comma_rule_test.dart
  website/docs/rules/common/avoid-banned-imports.mdx
  website/docs/rules/common/ban-name.mdx
  website/docs/rules/common/prefer-trailing-comma.mdx
  website/docs/rules/index.mdx
Labels: area-rules

#1053 feat: cleanup public API
  CHANGELOG.md
  lib/cli_runner.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_method.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_parameter_list.dart
  lib/src/analyzers/lint_analyzer/lint_analyzer.dart
  lib/src/analyzers/lint_analyzer/models/summary_lint_report_record_status.dart
  lib/src/analyzers/lint_analyzer/reporters/lint_report_params.dart
  lib/src/analyzers/lint_analyzer/reporters/reporter_factory.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/checkstyle/lint_checkstyle_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/code_climate/lint_code_climate_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/console/lint_console_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/github/lint_github_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/html/lint_html_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/json/lint_json_reporter.dart
  lib/src/analyzers/unnecessary_nullable_analyzer/reporters/reporter_factory.dart
  lib/src/analyzers/unnecessary_nullable_analyzer/reporters/reporters_list/console/unnecessary_nullable_console_reporter.dart
  lib/src/analyzers/unnecessary_nullable_analyzer/reporters/reporters_list/json/unnecessary_nullable_json_reporter.dart
  lib/src/analyzers/unnecessary_nullable_analyzer/unnecessary_nullable_analyzer.dart
  lib/src/analyzers/unused_code_analyzer/reporters/reporter_factory.dart
  lib/src/analyzers/unused_code_analyzer/reporters/reporters_list/console/unused_code_console_reporter.dart
  lib/src/analyzers/unused_code_analyzer/reporters/reporters_list/json/unused_code_json_reporter.dart
  lib/src/analyzers/unused_code_analyzer/unused_code_analyzer.dart
  lib/src/analyzers/unused_files_analyzer/reporters/reporter_factory.dart
  lib/src/analyzers/unused_files_analyzer/reporters/reporters_list/console/unused_files_console_reporter.dart
  lib/src/analyzers/unused_files_analyzer/reporters/reporters_list/json/unused_files_json_reporter.dart
  lib/src/analyzers/unused_files_analyzer/unused_files_analyzer.dart
  lib/src/analyzers/unused_l10n_analyzer/reporters/reporter_factory.dart
  lib/src/analyzers/unused_l10n_analyzer/reporters/reporters_list/console/unused_l10n_console_reporter.dart
  lib/src/analyzers/unused_l10n_analyzer/reporters/reporters_list/json/unused_l10n_json_reporter.dart
  lib/src/analyzers/unused_l10n_analyzer/unused_l10n_analyzer.dart
  lib/src/cli/commands/analyze_command.dart
  lib/src/cli/commands/check_unnecessary_nullable_command.dart
  lib/src/cli/commands/check_unused_code_command.dart
  lib/src/cli/commands/check_unused_files_command.dart
  lib/src/cli/commands/check_unused_l10n_command.dart
  lib/src/reporters/models/checkstyle_reporter.dart
  lib/src/reporters/models/code_climate_reporter.dart
  lib/src/reporters/models/console_reporter.dart
  lib/src/reporters/models/github_reporter.dart
  lib/src/reporters/models/html_reporter.dart
  lib/src/reporters/models/json_reporter.dart
  lib/src/reporters/models/reporter.dart
  test/src/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_method/long_method_test.dart
  test/src/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_parameter_list/long_parameter_list_test.dart
  test/src/analyzers/lint_analyzer/reporters/reporters_list/checkstyle/lint_checkstyle_reporter_test.dart
  test/src/analyzers/lint_analyzer/reporters/reporters_list/console/lint_console_reporter_test.dart
  test/src/analyzers/lint_analyzer/reporters/reporters_list/json/lint_json_reporter_test.dart
  test/src/analyzers/lint_analyzer/reporters/reporters_list/lint_github_reporter_test.dart
  test/src/cli/commands/analyze_command_test.dart
  test/src/cli/commands/check_unnecessary_nullable_command_test.dart
  test/src/cli/commands/check_unused_code_command_test.dart
  test/src/cli/commands/check_unused_files_command_test.dart
  test/src/cli/commands/check_unused_l10n_command_test.dart
  website/docs/cli/analyze.md
Labels: area-core

#1054 feat: support proxy calls for check-unused-l10n
  CHANGELOG.md
  lib/src/analyzers/unused_l10n_analyzer/unused_l10n_visitor.dart
  test/resources/unused_l10n_analyzer/test_i18n.dart
  test/resources/unused_l10n_analyzer/unused_l10n_analyzer_example.dart
Labels: type: enhancement, area-unused-l10n

#1060 fix: ignore override methods for avoid-redundant-async
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_redundant_async/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_redundant_async/examples/example.dart
Labels: type: enhancement, area-rules

#1059 feat: add validation for rule names in analysis_options
  CHANGELOG.md
  example/example.dart
  lib/src/analyzer_plugin/analyzer_plugin.dart
  lib/src/analyzers/lint_analyzer/lint_analysis_config.dart
  lib/src/analyzers/lint_analyzer/lint_analysis_options_validator.dart
  lib/src/analyzers/lint_analyzer/lint_analyzer.dart
  lib/src/analyzers/lint_analyzer/lint_config.dart
  lib/src/analyzers/lint_analyzer/models/lint_file_report.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/checkstyle/lint_checkstyle_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/code_climate/lint_code_climate_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/console/lint_console_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/html/lint_html_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/reporters_list/json/lint_json_reporter.dart
  lib/src/analyzers/lint_analyzer/reporters/utility_selector.dart
  lib/src/analyzers/lint_analyzer/utils/report_utils.dart
  lib/src/config_builder/config_builder.dart
  lib/src/config_builder/models/analysis_options.dart
  test/src/analyzers/lint_analyzer/anti_patterns/patterns_factory_test.dart
  test/src/analyzers/lint_analyzer/lint_analyzer_test.dart
  test/src/analyzers/lint_analyzer/lint_config_test.dart
Labels: type: enhancement, area-rules
