Repository dart-code-checker/dart-code-metrics, pull requests merged in 2023-01, with the labels that each got.

#1129 fix: handle multiline comments
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/format_comment/format_comment_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/format_comment/models/comment_info.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/format_comment/models/comment_type.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/format_comment/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/format_comment/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/format_comment/examples/example_without_issue.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/format_comment/examples/multiline_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/format_comment/format_comment_rule_test.dart
Labels: area-rules

#1139 feat: exclude `.freezed.dart` files by default
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/lint_analyzer.dart
  lib/src/cli/commands/base_command.dart
  test/src/cli/commands/analyze_command_test.dart
  test/src/cli/commands/check_unnecessary_nullable_command_test.dart
  test/src/cli/commands/check_unused_code_command_test.dart
  test/src/cli/commands/check_unused_files_command_test.dart
  test/src/cli/commands/check_unused_l10n_command_test.dart
  website/docs/cli/analyze.md
  website/docs/cli/check-unnecessary-nullable.md
  website/docs/cli/check-unused-code.md
  website/docs/cli/check-unused-files.md
  website/docs/cli/check-unused-l10n.md
Labels: area-core

#1137 feat: introduce prefer-provide-intl-description rule
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_provide_intl_description/prefer_provide_intl_description_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_provide_intl_description/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_provide_intl_description/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_provide_intl_description/examples/incorrect_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_provide_intl_description/prefer_provide_intl_description_rule_test.dart
  website/docs/rules/index.mdx
  website/docs/rules/intl/prefer-provide-intl-description.mdx
Labels: area-rules

#1123 fix: correctly handle prefixed enums and static instance fields for prefer-moving-to-variable
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/prefer_moving_to_variable_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/examples/generics_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/examples/prefix_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/prefer_moving_to_variable_rule_test.dart
Labels: area-rules

#1145 feat: add allow-initialized option to avoid-late-keyword
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_late_keyword/avoid_late_keyword_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_late_keyword/config_parser.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_late_keyword/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_late_keyword/avoid_late_keyword_rule_test.dart
  website/docs/rules/common/avoid-late-keyword.mdx
  website/docs/rules/index.mdx
  website/docs/rules/intl/prefer-provide-intl-description.mdx
Labels: area-rules

#1144 fix: ignore method invocations in a variable declaration for prefer-moving-to-variable
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/examples/assignment_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/prefer_moving_to_variable_rule_test.dart
Labels: area-rules

#1146 feat: add ignored-types option to avoid-late-keyword
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_late_keyword/avoid_late_keyword_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_late_keyword/config_parser.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_late_keyword/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_late_keyword/avoid_late_keyword_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_late_keyword/examples/example.dart
Labels: area-rules

#1150 fix: ignore enum constant arguments for no-magic-number
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_magic_number/no_magic_number_rule.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/no_magic_number/examples/enum_example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/no_magic_number/no_magic_number_rule_test.dart
Labels: area-rules

#1154 fix: support tear-off methods for check-unnecessary-nullable
  CHANGELOG.md
  lib/src/analyzers/unnecessary_nullable_analyzer/invocations_visitor.dart
  lib/src/analyzers/unnecessary_nullable_analyzer/models/invocations_usage.dart
  test/resources/unnecessary_nullable_analyzer/nullable_method_parameters.dart
  test/resources/unnecessary_nullable_analyzer/nullable_widget_key_parameters.dart
  test/resources/unnecessary_nullable_analyzer/unnecessary_nullable_example.dart
Labels: area-unnecessary-nullable

#1155 docs: rename to DCM and update website links
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/workflows/package_analyze.yaml
  CHANGELOG.md
  README.md
  example/README.md
  lib/src/analyzer_plugin/analyzer_plugin.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/pattern_utils.dart
  lib/src/analyzers/lint_analyzer/lint_analysis_options_validator.dart
  lib/src/analyzers/lint_analyzer/metrics/metric_utils.dart
  lib/src/analyzers/lint_analyzer/rules/rule_utils.dart
  lib/src/cli/cli_runner.dart
  pubspec.yaml
  test/src/analyzers/lint_analyzer/anti_patterns/pattern_utils_test.dart
  test/src/analyzers/lint_analyzer/metrics/metric_utils_test.dart
  test/src/analyzers/lint_analyzer/reporters/reporters_list/html/components/report_details_tooltip_test.dart
  test/src/analyzers/lint_analyzer/rules/rule_utils_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/list_all_equatable_fields/list_all_equatable_fields_rule_test.dart
  test/src/cli/cli_runner_test.dart
  website/docusaurus.config.js
Labels: type: documentation

#1148 fix: partially handle normal completion function body for avoid-redundant-async
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_redundant_async/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_redundant_async/examples/example.dart
Labels: area-rules

#1156 feat: support type=lint suppression
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/lint_analyzer.dart
  lib/src/utils/suppression.dart
  test/resources/suppression_all_example.dart
  test/src/analyzers/lint_analyzer/models/suppression_test.dart
Labels: type: enhancement, area-core

#1159 fix: correctly handle empty comment sentence for format-comment
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/format_comment/visitor.dart
Labels: area-rules

#1164 feat: support context.mounted for use-setstate-synchronously
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/use_setstate_synchronously/helpers.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/use_setstate_synchronously/examples/context_mounted.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/use_setstate_synchronously/use_setstate_synchronously_rule_test.dart
Labels: area-rules

#1173 feat: add `allow-only-once` option to `no-magic-number` rule
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_magic_number/config_parser.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/no_magic_number/no_magic_number_rule.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/no_magic_number/no_magic_number_rule_test.dart
  website/docs/rules/common/no-magic-number.mdx
Labels: type: enhancement, area-rules

#1163 feat: add new rule correct-game-instantiating
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/models/flame_rule.dart
  lib/src/analyzers/lint_analyzer/rules/models/rule_type.dart
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/correct_game_instantiating/correct_game_instantiating_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/correct_game_instantiating/visitor.dart
  lib/src/utils/flutter_types_utils.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/correct_game_instantiating/correct_game_instantiating_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/correct_game_instantiating/examples/example.dart
  test/src/helpers/rule_test_helper.dart
Labels: type: enhancement, area-rules
