Repository dart-code-checker/dart-code-metrics, pull requests merged in 2023-03, with the labels that each got.

#1184 feat: add prefer-define-hero-tag rule
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_define_hero_tag/prefer_define_hero_tag_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_define_hero_tag/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_define_hero_tag/examples/example.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/prefer_define_hero_tag/prefer_define_hero_tag_rule_test.dart
Labels: area-rules

#1206 feat: add avoid-substring rule
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_factory.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_substring/avoid_substring_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_substring/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_substring/avoid_substring_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_substring/examples/example.dart
Labels: type: enhancement, area-rules

#1194 fix: handle dynamics in map literals for avoid-dynamic
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_method.dart
  lib/src/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_parameter_list.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_dynamic/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/avoid_ignoring_return_values/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/check_for_equals_in_render_object_setters/visitor.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/prefer_moving_to_variable/visitor.dart
  pubspec.yaml
  test/src/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_method/long_method_test.dart
  test/src/analyzers/lint_analyzer/anti_patterns/anti_patterns_list/long_parameter_list/long_parameter_list_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_dynamic/avoid_dynamic_rule_test.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/avoid_dynamic/examples/example.dart
Labels: area-rules

#1208 fix: correctly track prefixes usage for check-unused-code
  CHANGELOG.md
  lib/src/analyzers/unused_code_analyzer/models/file_elements_usage.dart
  lib/src/analyzers/unused_code_analyzer/models/prefix_element_usage.dart
  lib/src/analyzers/unused_code_analyzer/unused_code_analyzer.dart
  lib/src/analyzers/unused_code_analyzer/used_code_visitor.dart
Labels: area-unused-code

#1210 fix: visit only widgets for use-setstate-synchronously
  CHANGELOG.md
  lib/src/analyzers/lint_analyzer/rules/rules_list/use_setstate_synchronously/use_setstate_synchronously_rule.dart
  lib/src/analyzers/lint_analyzer/rules/rules_list/use_setstate_synchronously/visitor.dart
  test/src/analyzers/lint_analyzer/rules/rules_list/use_setstate_synchronously/examples/example.dart
Labels: area-rules
